/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpg");*/
	/*background-image: linear-gradient(red, green);*/
	/*background-image: linear-gradient(to right, blue, white);*/
	background-image: linear-gradient(rgba(17,126,112,0.75), rgba(0,88,255,0.45)), url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

/* targets the element with the class name container */
.container {
	width: 500px;
	margin: 0 auto; /* centers the element horizontally */
	text-align: center;
}

/*end container*/


/* targets the html element h1 */
h1 {
	color: yellow;  /*this changes the font color of the h1 element*/
	background-color: #333333; /*off black*/
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
}
/* end of h1 styling */

/*start of h2 styling*/
h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: #333;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
}
/*end of h2 styling*/

/* targets the html element with the class attribute bio*/
.bio {
	font-size: 18px;
	line-height: 25px;
	background-color: rgba(51,51,51, 0.5);
}

/*end of bio*/

/*targets the html attribute id with a value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: indianred;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of me */



